.todoapp {
    min-width: 320px;
    max-width: 750px;
    margin: 0 auto;
}

.header {
    position: fixed;
    width: 100%;
    height: 2.0rem;
    background-color: skyblue;
    display: flex;
    top: 0;
}

.header .toggle-all {
    width: 3.0rem;
    height: 2.0rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .toggle-all.checked {
    color: black;
    font-weight: bold;
}

.header .new-todo {
    margin-right: 0.3rem;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .new-todo input {
    width: 100%;
    height: 1.4rem;
    text-indent: 0.3rem;
}

.main {
    margin-top: 2.0rem;
    margin-bottom: 2.0rem;
}

.main .todo-list li {
    border-bottom: 1px solid #ededed;
}

.main .todo-list li .view {
    display: flex;
    width: 100%;
}

.main .todo-list li .view .toggle {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 0;
}

.main .todo-list li .view .todo-label {
    flex: 10;
    word-break: break-all;
    padding: 0 0.5rem 0 0;
    display: flex;
    align-items: center;
}

.main .todo-list li .view .todo-label.have-destroy {
    flex: 8;
    word-break: break-all;
    padding: 0 0.5rem 0 0;
    display: flex;
    align-items: center;
}

.main .todo-list li.editing .view .todo-label {
    display: none;
}

.main .todo-list li.editing .view .edit {
    flex: 10;
    word-break: break-all;
    padding: 0 0.5rem 0 0;
    display: flex;
    align-items: center;
}

.main .todo-list li .view .destroy {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: red;
}

.footer {
    position: fixed;
    display: flex;
    width: 100%;
    height: 2.0rem;
    background-color: skyblue;
    bottom: 0;
    justify-content: center;
    align-items: center;
}

.footer .todo-count {
    flex: 1;
    text-align: center;
}

.footer .filters {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .filters li a {
    margin: 0 0.1rem;
}

.footer .filters li a.selected{
    margin: 0 0.1rem;
    color:black;
    font-weight: bold;
}

.footer .clear-completed {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}