@charset "utf-8";
/* 初始化 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 取消一些点击产生的一闪而现的黑色背景 */

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    font: 12px/1.5 'PingFangSC-Regular', 'Microsoft YaHei', '宋体', Tahoma, Arial, sans-serif;
    color: #555;
}

/*去除边框*/

input, button {
    border: none;
    /*去除的蓝色小边框*/
    outline: none;
}

a {
    text-decoration: none;
    /* 取消链接高亮(移动端)  */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul, ol {
    list-style: none;
}

/* 把所有的标题的样式全部重置了 */

h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}

/* 将媒体查询：动态改变html的font-size取值 从而达到宽高完全自适应 */

@media (min-width: 320px) {
    html {
        /* 320 / 15 */
        font-size: 21.33333px;
    }
}

@media (min-width: 360px) {
    /* 360 / 15 */
    html {
        font-size: 24px;
    }
}

@media (min-width: 375px) {
    html {
        /* 360 / 15 */
        font-size: 25px;
    }
}

@media (min-width: 384px) {
    html {
        font-size: 25.6px;
    }
}

@media (min-width: 400px) {
    html {
        font-size: 26.66666667px;
    }
}

@media (min-width: 414px) {
    html {
        font-size: 27.6px;
    }
}

@media (min-width: 424px) {
    html {
        font-size: 28.26666667px;
    }
}

@media (min-width: 480px) {
    html {
        font-size: 32px;
    }
}

@media (min-width: 540px) {
    html {
        font-size: 36px;
    }
}

@media (min-width: 720px) {
    html {
        font-size: 48px;
    }
}

@media screen and (min-width: 750px) {
    html {
        font-size: 50px;
    }
}